h4 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-left: 28px;
  color: #1f192f;
  width: 240px;
}

.top-data {
  display: flex;
}

.monthly-div {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #1f192f;
  background: #f0f2f4;
  border-radius: 5px;
  width: 90px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button {
  display: flex;
  margin-left: 126px;
}

.add-button button {
  width: 149px;
  height: 38px;
  border: 1px solid #20b96f;
  border-radius: 4px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #20b96f;
  justify-content: center !important;
}

.plusIcon {
  margin-right: 10.6px;
}

.content-header {
  display: flex;
  margin-bottom: 20px;
}
.contentHeader-button {
  width: 100%;
  justify-content: end;
}

@media (max-width: 1060px) {
  .content-header {
    flex-direction: column;
  }
  .contentHeader-button {
    justify-content: left;
  }
  .top-data {
    margin-bottom: 10px;
  }
  .add-button {
    margin-left: 28px;
  }
}
@media (max-width: 412px) {
  .campaignOverview {
    display: contents;
  }
  .monthly-div {
    margin-left: 28px;
    margin-top: 10px;
    width: 75px;
  }
}

@media (max-width: 1060px) {
  /* main {
    display: flex;
    justify-content: center !important;
  } */
  .mainContent-div {
    flex-direction: column;
  }
}
.mainContent-div {
  display: flex;
}
