.activity {
  display: flex;
  align-items: start;
}

.icon {
  margin-right: 10px;
}

.activityDetail {
  margin-left: 36px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  /* Black/40% */

  color: rgba(0, 0, 0, 0.4);
}

.main-activityDiv {
  background: #ffffff;
  border-radius: 4px;
  width: 95%;
  padding: 28px 17px 28px 17px;
}

.activity-content {
  margin-bottom: 23px;
}

.viewAll {
  text-align: center;
  margin-top: 17px;
}

@media (max-width: 1060px) {
  .top-div {
    margin-left: 28px;
  }
  .main-activityDiv {
    width: 95%;
  }
}

@media (min-width: 0) and (max-width: 639px) {
  .main-activityDiv {
    width: 256px;
  }
}

/* .recentActivityBar {
  display: flex;
  justify-content: end;
} */

.activityDetail-2 {
  text-decoration: underline;
}
.activityDetail-5 {
  text-decoration: underline;
}

.main-activity-div {
  margin-top: 25px;
}
.main-activity-div h4 {
  margin-left: 0px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #1f192f;
  margin-bottom: 11px;
}

@media (max-width: 639px) {
  .main-activity-div {
    margin: 0 auto;
  }
}

@media (max-width: 639px) {
  .top-div {
    margin-left: 28px;
  }
}
