.list-icons {
  height: 13px;
  width: auto;
}

.link {
  display: flex;
  align-items: center;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}
.link {
  padding: 10px 35px 10px 35px !important;
}

ul {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
}

.custom-class {
  display: flex;
  /* justify-content: center; */
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* .custom-class .link {
  padding: 10px 30px 10px 30px !important;
} */

/* .custom-class .link .list-icons {
  margin-left: -6px;
} */
/* .custom-class .link .arrow {
  margin-left: 30px;
} */

.logo {
  margin-left: 20px;
  margin-top: 40px;
  height: 40px;
}

.main-div {
  background-color: #20b96f !important;
}

/* Search Bar */

@media (min-width: 1024px) {
  .lg\:pl-72 {
    padding-left: 15rem;
  }
}

.custom-arrow-2 {
  margin-left: 64px;
}

li .link:hover {
  background-color: white !important;
  color: #20b96f !important;
  transition: 0.2s ease;
}

.list-icons {
  /* margin-left: -6px; */
}

.max-w-sm {
  max-width: 13rem;
}

.allContent {
  @media (min-width: 1024px) {
    padding-left: 12rem !important;
  }
}
