@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
body {
  background: #dadada;
=======
body {  
  background: #dadada !important;
>>>>>>> 96818a759ed67f51259dbd1be4c0539510e44c57
}
